In [3]:
#Importing Libraries
import pandas as pd
import numpy as np
import names
from faker import Faker
import pandasql as ps
import random
import time
from datetime import datetime

In [4]:
#creating a simple func
def sql(query):
    return ps.sqldf(query)

In [5]:
faker = Faker()

In [8]:
#reading the data
product_df = pd.read_csv('C:/Users/hp/Documents/GitHub/ETL-PROJECT-/data/all_data.csv')

In [11]:
product_df.columns

Index(['Unnamed: 0', 'Product_name', 'Alcohol_amount', 'Alcohol_percent',
       'Price', 'Category'],
      dtype='object')

In [12]:
product_df.drop(columns = 'Unnamed: 0', inplace = True )

In [13]:
product_df.head()

,Product_name,Alcohol_amount,Alcohol_percent,Price,Category
0,Hine Rare VSOP Cognac,70.0,40.0,47.45,Cognac
1,Hennessy VSOP Privilege Cognac,70.0,40.0,54.95,Cognac
2,Hennessy XO Cognac,70.0,40.0,162,Cognac
3,Courvoisier XO Cognac,70.0,40.0,115,Cognac
4,Remy Martin 1738 Accord Royal Cognac,70.0,40.0,53.25,Cognac

In [14]:
product_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2664 entries, 0 to 2663
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Product_name     2664 non-null   object
 1   Alcohol_amount   2664 non-null   float64
 2   Alcohol_percent  2664 non-null   float64
 3   Price            2664 non-null   object
 4   Category         2664 non-null   object
dtypes: float64(2), object(3)
memory usage: 104.2+ KB

In [15]:
#Changing the alcohol price float
product_df['Price'] = product_df.Price.str.replace(',', '').astype('float64')

In [23]:
#generate a column of unique prodcut id's
product_id = np.random.default_rng().choice(len(product_df.Product_name), len(product_df.Product_name), replace = False)

#verify that there are as amnt id's as there are products
len(set(product_id)) == len(product_df.Product_name)

True

In [26]:
#verify that the new id's are unique
assert(len(pd.Series(product_id).unique()) == len(product_id))

In [27]:
#Insert the new column into the DataFrame
product_df['product_id'] = product_id

In [28]:
product_df.head()

,Product_name,Alcohol_amount,Alcohol_percent,Price,Category,product_id
0,Hine Rare VSOP Cognac,70.0,40.0,47.45,Cognac,2295
1,Hennessy VSOP Privilege Cognac,70.0,40.0,54.95,Cognac,1473
2,Hennessy XO Cognac,70.0,40.0,162.00,Cognac,2094
3,Courvoisier XO Cognac,70.0,40.0,115.00,Cognac,483
4,Remy Martin 1738 Accord Royal Cognac,70.0,40.0,53.25,Cognac,1437

In [29]:
product_df.duplicated().sum()

0

### GENERATING EMPLOYYEE'S DATA

In [30]:
#Generating 100 EMployee Uniques id's
employee_id = np.random.default_rng().choice(4000, 100, replace = False)

In [32]:
#Verify that there are as many ids as there are employees
assert len(set(employee_id)) == 100

In [36]:
#verify that the new ids are unique
assert len(pd.Series(employee_id).unique()) == len(employee_id)

In [43]:
#Generating 100 employee Data
first_name = []
last_name = []
email = []
city = []
departments = ['Sales', 'Finance', 'Marketing', 'BI']
employee_department = []

# iterate through the emloyees and generate random data
for i in range(len(employee_id)):
    first_name.append(names.get_first_name())
    last_name.append(names.get_last_name())
    email.append(first_name[i].lower() +'.' + last_name[i].lower() + '@wsexng.com')
    city.append(faker.city())
    employee_department.append(np.random.choice(departments, 1)[0])

In [44]:
# create and employee dataframe
employee_df = pd.DataFrame(employee_id, columns = ['employee_id'])

In [45]:
employee_df['first_name'] = first_name
employee_df['last_name'] = last_name
employee_df['email'] = email
employee_df['city'] = city
employee_df['department'] = employee_department

In [46]:
employee_df.head()

,employee_id,first_name,last_name,email,city,department
0,407,William,Merrell,william.merrell@wsexng.com,Karenberg,Finance
1,3645,Bruce,Matthews,bruce.matthews@wsexng.com,Petersfort,BI
2,3962,Tracy,Vega,tracy.vega@wsexng.com,Phillipston,Marketing
3,3420,Dewey,Landry,dewey.landry@wsexng.com,Wiseborough,Finance
4,2549,Betsy,Harrell,betsy.harrell@wsexng.com,East Brent,Finance

#### GENERATING CUSTOMER DATA

In [49]:
#Generating 1000 customer Unique id's
customer_id = np.random.default_rng().choice(99999, 1000, replace =False)

#Verify thta there are as many id's as there are customers
assert len(set(customer_id)) == 1000

#Verify that the new ids are unique
assert len(pd.Series(customer_id).unique())

In [52]:
cus_first_name = []
cus_last_name = []
cus_email = []
cus_city = []
cus_last_four_digit = []
cus_country = []
cus_country_code = []
cus_street = []
cus_credit_card_company = []

# iterate throught the customers and generate random data
for i in range(len(customer_id)):
    cus_first_name.append(names.get_first_name())
    cus_last_name.append(names.get_last_name())
    cus_email.append(cus_first_name[i].lower() + '.' + cus_last_name[i].lower() + '@gmail.com')
    cus_last_four_digit.append(np.random.randint(low = 1000, high = 9999, size = 1)[0])
    cus_country.append(faker.country())
    cus_country_code.append(faker.street_address())
    cus_credit_card_company.append(faker.credit_card_provider())

In [ ]:
customer_df = pd.DataFrame(cus)